<h1>Welcome to Task Manager</h1>

<ul>
  <li><button type="button" class="btn btn-success"><a href="/tasks">Task Index</a></button></li>
  <li><button type="button" class="btn btn-primary"><a href="/tasks/new">New Task</a></button></li>
</ul>
